<div *ngIf="cartItems.length; else noItems" class="cart-container container">
    <div class="cart-item-details myMargin">
        <div *ngFor="let cartItem of cartItems" class="cart-item">
            <img src="{{ cartItem.url }}" alt="img">
            <div class="cart-panel">
                <div class="product-detail"><b>{{ cartItem.name }}</b></div>
                <div class="product-detail">{{ cartItem.price }}</div>
                <div class="product-detail">
                    Amount:
                    <input #options value="{{ cartItem.option }}" (change)="changeCount(cartItem.id, options.value)" min="1" max="30" type="number" class="form-control number-input"  style="width:100%"/>
                </div>
                <div class="product-detail">
                  <button (click)="removeItem(cartItem.id)" class="btn btn-danger">Remove Item</button>
                </div>
            </div>
        </div>
        <h1>Total Price: ${{ totalPrice }}</h1>
    </div>
    
    <div class="form-margin myMargin">


        <app-succes-form (formSucces)="formSucces($event)"></app-succes-form>


    </div>
</div>
<ng-template #noItems>
  <div class="empty-cart-message">
  Cart is Empty! Please, <a routerLink="/"> add product to cart</a>. 
  </div>
</ng-template>