<div class="product-container-list">
  <div class="product-index">
    <div href="" class="product-container-item" *ngFor="let productData of products">
        <a routerLink="item-detail/{{ productData.id }}">
            <img class="product-image" src="{{ productData.url }}" alt="img">
        </a>
        <p>{{ productData.name }}</p>
        <p>$ {{ productData.price }}</p>
        <form (ngSubmit)="onSubmit(productData)">
          <!-- <input value="1" #options (change)="onSelected(options.value)" min="1" max="30" type="number" class="form-control select-input"  style="width:100%"/> -->
          <input value="1"  name="option" (ngModel)="selectedOption" (ngModelChange)="onSelected($event)" min="1" max="30" type="number" class="form-control select-input"  style="width:100%"/>
          <button class="btn btn-primary">Add to cart</button>
        </form>
    </div>
  </div>
</div>